@mixin filledStyle() {
    background-color: black;
    color: white;
  }
  
  @mixin alignCenter() {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .DragDrop {
    width: 100%;
    height: 150px;
    @include alignCenter();
    
    &-File {
      width: 400px;
      height: 150px;
      border: 2px solid black;
      background-color: #2762FF;
      color: white;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 800;
      
      @include alignCenter();
      cursor: pointer;
      transition: 0.12s ease-in;
  
      &-Dragging {
        @include filledStyle();
      }
    }
  
    &-Files {
      margin-top: 1rem;
  
      & > div {
        width: 300px;
        padding: 8px;
        border: 1px solid black;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
      }
  
      &-Filter {
        cursor: pointer;
        
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }